html {
    font-family: Inter sans-serif;
    color: #9C9C9C;
}

body {
    padding: 30px;
    padding-top: 70px;
    align-self: center;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 15px;
}

.picture-preview-box {
    display: flex;
    width: 547px;
    height: 297px;
    top: 66px;
    left: 46px;
}

.show-as-b {
    position: relative;
    top: 15px;
    left: 100px;
    width: 26px;
    height: 26px;
    background-color: white;
}

.show-as-p {
    position: relative;
    top: 13px;
    left: 112px;
    width: 26px;
    height: 26px;
}

.checkbox {
    position: relative;
    width: 26px;
    left: 10px;
    background-color: white;
    border-radius: 0;
    cursor: pointer;
}

.select-all {
    position: relative;
    top: 5px;
    padding-left: 15px;
}

#crop-icon {
    width: 96px;
    height: 45px;
    margin: 10px;
    position: relative;
    left: 443px;
}

.file-manager-box {
    display: flex;
    flex-direction: row;
    width: 520px;
    height: 405px;
    background-color: #1C1C13;
}

.scroll {
    width: 26px;
    height: 455px;
    position: relative;
    left: 522px;
    bottom: 455px
}

.file-options {
    display: flex;
    color: white;
    background-color: #7F7F7F;
    width: 520px;
}

.right-panel {
    width: 770px;
    height: 798px;
    padding-top: 25px;
    padding-left: 25px;
    background-color: #1C1C1C
}

.flip-icon {
    transform: scaleX(-1);
    width: 20px;
    height: 20px;
}

.flip-vert {
    transform: scaleY(-1);
    width: 20px;
    height: 20px;
}


.tool-box {
    border: 1px solid white;
}