html {
    font-family: Inter sans-serif;
}

body {
    width: 1440px;
    height: 980px;
    top: -180px;
    left: -192px;
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.picture-preview-box {
    display: flex;
    width: 547px;
    height: 297px;
    top: 66px;
    left: 46px;
}

button.crop {
    width: 96px;
    height: 45px;
    top: 371px;
    left: 497px;
    border: 1px solid #9C9C9C;
    background-color: #000000;
    text-align: center;
}

.crop {
    width:38px;
    height: 19px;
    color: #9C9C9C;
    text-align: right;
}

#crop-icon {
    width: 20px;
    height: 20px;
    top: 1.25px;
    left: 1.25px;
}

.file-manager-box {
    display: flex;
    width: 543px;
    height: 440px;
    top: 424px;
    left: 46px;
    background-color: #1C1C1C;
}

.right-panel {
    width: 770px;
    height: 798px;
    top: 66px;
    left: 618px;
    background-color: #1C1C1C
}

.file-options {
    background-color: #7F7F7F;
}

.flip-icon {
    transform: scaleX(-1);
}

.flip-vert {
    transform: scaleY(-1)
}

.tool-box {
    border: 1px solid white;
}
